<%- include('partials/head') %>

  <body>
    <%- include('partials/nav') %>
      <div class="container">
        <%- content %>
      </div>
  </body>

  <style>
    .container {
      min-width: 90%;
    }
  </style>

  </html>